name: Production Docker Build & Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME  }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_IMAGES_NAME }}/ecommercenodejs:${{ github.run_number }}

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo docker pull ${{ secrets.DOCKERHUB_IMAGES_NAME }}/ecommercenodejs:${{ github.run_number }}
            sudo docker stop demo-ecommerce-nodejs || true
            sudo docker rm demo-ecommerce-nodejs || true
            sudo docker run -d \
                --restart unless-stopped \
                -p 3000:3000 \
                --name demo-ecommerce-nodejs \
                ${{ secrets.DOCKERHUB_IMAGES_NAME }}/ecommercenodejs:${{ github.run_number }}  